.Rproj.user
.Rhistory
.RData
.Ruserdata

# remove raw data as could be confidential
data/raw/*
!data/raw/README.md

# remove exploratory plots, can be generated is interested
outputs/plots/exploratory/*

# remove intermediate .RMarkdown LaTeX compilation files
*.tex
*.log