.Rproj.user
.Rhistory
.RData
.Ruserdata

# remove raw data as could be confidential
data/raw/*
!data/raw/README.md

# M Head doesn't want us to share the maturity data
SST_maturitydata_forassessment03152023.csv

# remove exploratory plots, can be generated is interested
outputs/plots/exploratory/*

# remove intermediate .RMarkdown LaTeX compilation files
*.tex
!doc/*.tex
*.log

# Mac hidden files
.DS_store
.ds_store

# Intermediate RMarkdown Files

*/unnamed-chunk*

# SS Model Files
model/*/plots*/*  # Dont track SS plots
admodel.*        # These are ADMB outputs
ss*.b0*          # ADMB binary file output
ss.b01		      
ss.b02		      
ss.b03		      
ss.b04		      
ss.b05		      
ss*.p0*
ss.p0*		 
ss*.r0*
ss.r0*		 
*.cov
*.dep
*.hes
data_boot_001.ss

/*/run/ss.b0*		 # ADMB binary file output
/*/run/ss.p0*		 # ADMB binary file output
/*/run/ss.r0*		 # ADMB binary file output


*.bar
*.eva
*.cor
*.std
*.ss_new
!data_echo.ss_new
posterior_vector*.sso
posterior*.sso
rebuild.sso
runnumber.ss

# Ignore most outputs from likelihood profiles
model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_profile*/*
model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_jitter*/*
model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_retro*/*

model/Sensitivity_Anal/Base_Model/profiles/*
model/Sensitivity_Anal/Base_Model/jitters/*
model/Sensitivity_Anal/Base_Model/retros/*


# Ignore plots
  # JPEG
*.jpg, *.jpeg, *.jpe, *.jif, *.jfif  
  # Portable Network Graphics
*.png
!doc/*.png
!doc/FinalFigs/Base/*.png
!doc/FinalFigs/Intro/*.png
!doc/FinalFigs/Data/*.png
!doc/FinalFigs/Sensitivities/*.png
!doc/FinalFigs/bridging/*.png
!doc/FinalFigs/Jitters/*.png
!doc/FinalFigs/Profiles/*.png
!doc/FinalFigs/Retros/*.png

!model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_profile*/*.png
!model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_profile*/*.csv
!model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_jitter*/*.png
!model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_jitter*/*.csv
!model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_retro*/*.png
!model/Sensitivity_Anal/5.8_Francis_Reweighting_2/1_23.model.francis_2_retro*/*.csv

!model/Sensitivity_Anal/Base_Model/profiles/*/*.png
!model/Sensitivity_Anal/Base_Model/profiles/*/*.csv
!model/Sensitivity_Anal/Base_Model/jitters/*/*.png
!model/Sensitivity_Anal/Base_Model/jitters/*/*.csv
!model/Sensitivity_Anal/Base_Model/retros/*/*.png
!model/Sensitivity_Anal/Base_Model/retros/*/*.csv

  # Tagged Image File Format
*.tiff, *.tif
  # BMP
*.bmp, *.dib

# Ignore the .html from the model directories 
model/*/run/plots
model/*/*/*/run/plots

doc/_main.pdf
