.Rproj.user
.Rhistory
.RData
.Ruserdata

# remove raw data as could be confidential
data/raw/*
!data/raw/README.md

# remove exploratory plots, can be generated is interested
outputs/plots/exploratory/*

# remove intermediate .RMarkdown LaTeX compilation files
*.tex
*.log

# Mac hidden files
.DS_store
.ds_store

# Intermediate RMarkdown Files

*/unnamed-chunk*

# SS Model Files
model/*/plots/*  # Dont track SS plots
admodel.*        # These are ADMB outputs
ss*.b0*		 # ADMB binary file output
ss*.p0*		 # ADMB binary file output
ss*.r0*		 # ADMB binary file output
*.bar
*.eva
*.cor
*.std
*.ss_new
posterior_vector*.sso
posterior*.sso
rebuild.sso
runnumber.ss

# Ignore plots
  # JPEG
*.jpg, *.jpeg, *.jpe, *.jif, *.jfif  
  # Portable Network Graphics
*.png
  # Tagged Image File Format
*.tiff, *.tif
  # BMP
*.bmp, *.dib

# Ignore the .html from the model directories 
model/*/run/plots